.input__wrapper {
  min-width: 210px;
  margin: 18px;
  height: 60px;
}

.input__wrapper input {
  padding: 3px 1em;
  box-sizing: border-box;
  border-radius: 4px;
  width: 325px;
  height: 44px;
  color: black;
}

.input__wrapper .input.error {
  color: red;
}

.form-button-wrapper {
  text-align: center;
  margin: 30px;
}
.form-button-wrapper button {
  padding: 6px;
  margin: 6px;
  cursor: pointer;
}
