h1,
.subtitle {
  text-align: center;
  margin: 9px;
  cursor: default;
}

.subtitle {
  font-size: x-large;
}

.sections__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.section__wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  width: 45vw;
  min-width: 320px;
  height: fit-content;
}
